*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

select {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 2em;
  gap: 10px;
}

.container > * {
  flex: 1 100%;
}

.navigation {
  width: 100%;
  text-align: right;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.buttons {
  padding-top: 15px;
}

/*---GAME CSS---*/
#gameField td {
  width: 25px;
  height: 25px;
  text-align: center;
}

/*DEFAULT THEME*/
.HeroClass {
  background-image: url('./img/john.png');
  background-repeat: no-repeat;
  background-size: 25px 25px;
}
.VillainClass {
  background-image: url('./img/robot.png');
  background-repeat: no-repeat;
  background-size: 25px 25px;
}

.HeroClass.damaged {
  background-image: url('./img/explosion.png');
  background-repeat: no-repeat;
  background-size: 25px 25px;
}
.VillainClass.damaged {
  background-image: url('./img/robot_crashed.png');
  background-repeat: no-repeat;
  background-size: 25px 25px;
}

/*ARROW CSS*/
.arrowClass:hover {
  background-color: #fbff87;
}
